# ---- Java build files ----
*.class
*.jar
*.war
*.ear

# ---- IDE specific ----
# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Logs
*.log

# Windows
Thumbs.db
e
